<section class="main-title">
  <h3 class="text-center">
    Bienvenidos a la Universidad Autónoma del Estado de Quintana Roo
  </h3>
  <p class="text-center">
    Por favor, llena el siguiente formulario. Es muy importante para nosotros
    conocerte
  </p>
  <p class="text-center">Estamos muy ansiosos de darte la bienvenida</p>
</section>

<section class="main-info mb-5">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-ld-12">
            <div class="mb-3">
              <label for="CURP-input" class="form-label">CURP</label>
              <input
                type="text"
                class="form-control"
                id="CURP-input"
                placeholder="CURP"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="mb-3">
              <label for="email-input" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email-input"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="nombres-input" class="form-label">Nombre(s)</label>
              <input
                type="text"
                class="form-control"
                id="nombres-input"
                placeholder="Nombre(s)"
              />
            </div>
            <div class="mb-3">
              <label f class="form-label">Primer apellido</label>
              <input
                type="text"
                class="form-control"
                placeholder="Apellido paterno"
              />
            </div>
            <div class="mb-3">
              <label f class="form-label">Segundo apellido (opcional)</label>
              <input
                type="text"
                class="form-control"
                placeholder="Apellido materno"
              />
            </div>
            <div class="mb-3">
              <label f class="form-label">Fecha de nacimiento</label>
              <input
                type="date"
                class="form-control"
                placeholder="Fecha de nacimiento"
              />
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="mb-3">
              <label f class="form-label">Campus</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label f class="form-label"
                >Programa Educativo (1a. opción)</label
              >
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label f class="form-label"
                >Programa Educativo (2a. opción)</label
              >
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label f class="form-label">Nacionalidad</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label f class="form-label">Estado/Provincia</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary">
          Guardar información
        </button>
      </form>
    </div>
  </div>
</section>
