<div class="login-main" id="particles-js">
  <router-outlet></router-outlet>
</div>
<div class="particles-custom">
  <div class="shapes-c purple">asdsadsa</div>
  <div class="shapes-c medium-blue"></div>
  <div class="shapes-c light-blue"></div>
  <div class="shapes-c red"></div>
  <div class="shapes-c orange"></div>
  <div class="shapes-c yellow"></div>
  <div class="shapes-c cyan"></div>
  <div class="shapes-c light-green"></div>
  <div class="shapes-c lime"></div>
  <div class="shapes-c magenta"></div>
  <div class="shapes-c lightish-red"></div>
  <div class="shapes-c pink"></div>
</div>
